a, img {
    display: block;
}

/* Google icons*/
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Header */


.header-box {
    background-color: rgb(177, 175, 175);
    max-width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    width: 55px;
    height: 50px;
    background-color: aqua;
}

label {
    display: none;
}
.search-field {
    background-color: beige;
    display: inline;
    
}

ul {
    background-color: burlywood;
    list-style-type: none;

}

li {
    display: inline;
}