@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

/* Generic features */
body {
    background-color: rgb(243, 242, 239);
    font-family: 'Source Sans Pro', sans-serif;
    color: #36454F;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
header, nav, main {
    max-width: 1000px;
    width: 100%;
}
img {
    display: block;
}

a {
    color: #36454F;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.1em;
}

h4, h5 {
    font-size: 1rem;
}

input, select {

    border: 1px solid rgb(102, 102, 102, 0.5);
    border-radius: 5px;

    margin: 0;
    margin-top: 0.5rem;
}

input {
    padding: 0.5rem;
    width: 80%;
}

select {
    padding: 0.3rem;
    width: 87%;
}

label, select {
    font-family: inherit;
    font-size: 1.1rem;
}

input[type=checkbox] {
    width: auto;
    margin: 0;
    padding: 0;
}

.shadow {    
    -webkit-box-shadow: 0px 10px 13px -7px #36454F, 0px 7px 15px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #36454F, 0px 7px 15px 0px rgba(0, 0, 0, 0);
    
}

/*---------------------------------------------*/
/* Google icons*/
.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-100 {
    font-size: 100px;
}

/*---------------------------------------------*/
/* Header */
header {

    margin: 0;
    padding: 0;    
}

nav {
    background-color: rgba(256, 256, 256, 1);
    margin-left: -1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(102, 102, 102, 0.5);
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.logo {
    width: 55px;
    height: 50px;
}

.search {
    background-color: rgb(238, 243, 248);
    width: 100%;
}

.hidden-label {
    display: none;
}

.left-side {
    max-width: 30%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding-left: 1rem;
}

.menu a {
    transition: all 0.3s ease-in;
}

.menu a:hover {
    color: rgba(102, 102, 102, 0.8);
}

/*---------------------------------------------*/
/* content */
section {
    width: inherit;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(102, 102, 102, 0.5);
    border-radius: 5px;
    margin: 0;
    margin-bottom: 1rem;
    padding: 1rem;
}

.profile_photo {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 0.5rem solid rgba(141, 141, 141, 1);
}

.board {
    margin: 0;
    padding: 1rem;
}

.dark-board {
    background-color: rgba(196, 196, 196, 1);
}

.light-board {
    background-color: rgba(233, 233, 233, 1);
}

/*---------------------------------------------*/
/* Account preferences */

main {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cards-container {
    
    width: inherit;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card a {
    transition: all 0.3s ease-in;
}

.card a:hover {
    color: rgba(102, 102, 102, 0.8);
}

.card-top {
    width: 250px;
    height: 180px;

    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-bottom {
    width: 250px;
    height: 110px;

    text-align: center;

    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------*/
/* Profile information page */
.to-the-left {
    align-self: flex-start;
     
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}


.profile-form h2, h3, h4 {
    margin: 0;
    margin-bottom: 0.3rem;
    padding: 0;

    font-weight: 400;
}

.profile-form h2 {
    font-size: 1.7rem;
    font-weight: 700;
    /* margin-top: 0.5rem; */
}

.fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;

    padding: 0;
    margin: 1rem 0;
    /* border: 2px solid #000; */
}

.field {
    margin: 0;
    padding-top: 0.5rem;
    align-items: center;

    /* border: 2px solid #000; */
}


.field a:hover {
    color: rgba(102, 102, 102, 0.8);
}

.pron h4 {
    margin-top: 0.5rem;
}

.cbox-center {
    padding-top: 1.5rem;
}

#prof-cbox {
    width: auto;
    padding: 0;
    margin: 0;
    margin-right: 0.2rem;

    text-align: right;
    align-self: center;
}

button {
    background-color: #36454F;
    color: #fff;
    font-family: inherit;
    font-weight: 700;

    font-size: 1.1rem;
    padding: 0.3rem 1rem;
    margin: 1rem 1rem 0 0;

    border: 0;
    border-radius: 20px;
}

/*---------------------------------------------*/
/* Visibility */
.wrapper {
    padding: 1rem 0.5rem;
    border-radius: 5px;
}

.container {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.profile-type {
    max-width: fit-content;
}

.imgs img {
    width: 90%;
    margin-bottom: 1rem;
}

.inner-board {

    margin: 0;
    padding: 1rem;
}

.inner-board h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

.inner-board h4, h5 {
    margin-bottom: 0.5rem;
}

.inner-board h5 {
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
}

.inner-board form {
    margin-top: 0.5rem;
}

/* footer */