@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(244, 244, 244);

    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}

img {
    display: block;
}

a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

/* Google icons*/
.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-100 {
    font-size: 100px;
}

/* Header */
header {
    width: 80%;

    margin: 0;
    padding: 0;

    /* Shadow */
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 15px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 7px 15px 0px rgba(0, 0, 0, 0);
    /* ---- */

}

nav {
    background-color: rgba(256, 256, 256, 1);
    width: 100%;
    margin-left: -1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 55px;
    height: 50px;
}

.search-form label {
    display: none;
}

.left-side {
    max-width: 30%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding-left: 1rem;
}

.menu a {
    transition: all 0.3s ease-in;
}

.menu a:hover{
    color: rgba(102, 102, 102,0.8);
}
/* content */
section {
    width: 80%;
    border: 1px solid #000;
    margin: 1rem 0;
    padding: 1rem;


    /* Shadow */
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 15px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 7px 15px 0px rgba(0, 0, 0, 0);
    /* ---- */
}

.profile_photo {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 0.5rem solid rgba(141, 141, 141, 1);
}

.board {
    margin: 0;
    padding: 1rem;
}

.dark-board {
    background-color: rgba(196, 196, 196, 1);
}

.light-board {
    background-color: rgba(233, 233, 233, 1);
}

/* Account preferences */

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 2rem;
    
}

.card {
    padding: 1rem;
}
.card a {
    transition: all 0.3s ease-in;
}

.card a:hover{
    color: rgba(102, 102, 102,0.8);
}
.card-top {
    width: 250px;
    height: 180px;

    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-bottom {
    width: 250px;
    height: 110px;

    text-align: center;

    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Shadow */
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 7px 15px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 0px 7px 15px 0px rgba(0, 0, 0, 0);
    /* ---- */
}
/* Profile information page */
.to-the-left{
    align-self: flex-start;
}
/*  */
/* footer */